$icomoon-font-family: "newshore-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-giftcard: ("\ea41");
$icon-explore-discover: ("\ea2a");
$icon-arrow-prev: ("\ea27");
$icon-arrow-forward: ("\ea28");
$icon-play: ("\ea37");
$icon-pause: ("\ea38");
$icon-dangerous-explosives: ("\ea2f");
$icon-dangerous-flamed-liquids: ("\ea30");
$icon-dangerous-flamed-solids: ("\ea31");
$icon-dangerous-gases: ("\ea32");
$icon-dangerous-oxidizers: ("\ea33");
$icon-dangerous-poisons: ("\ea34");
$icon-dangerous-radioactive: ("\ea35");
$icon-dangerous-radioactive-liquid: ("\ea36");
$icon-sortby: ("\ea1c");
$icon-destinations: ("\ea19");
$icon-standardclass-transport: ("\ea11");
$icon-firstclass-transport: ("\ea12");
$icon-save-pwa-ios: ("\e91a");
$icon-menu: ("\e96b");
$icon-menu-open: ("\e96c");
$icon-menu-justify: ("\e976");
$icon-menu-dots: ("\e9ef");
$icon-wifi-off: ("\e965");
$icon-wifi: ("\e968");
$icon-arrow-triangle-left: ("\e904");
$icon-arrow-triangle-right: ("\e905");
$icon-arrow-triangle-down: ("\e906");
$icon-arrow-triangle-up: ("\e907");
$icon-arrow-single-left: ("\e908");
$icon-arrow-single-right: ("\e909");
$icon-arrow-single-down: ("\e90a");
$icon-arrow-single-up: ("\e90b");
$icon-arrow-double-left: ("\e900");
$icon-arrow-double-right: ("\e901");
$icon-arrow-right: ("\e90c");
$icon-arrow-thin-left: ("\e96a");
$icon-arrow-thin-right: ("\e90d");
$icon-arrow-thin-up: ("\e9b2");
$icon-arrow-thin-down: ("\e9b3");
$icon-swap-horizontal: ("\e92d");
$icon-diverted: ("\ea4b");
$icon-swap-horizontal-circle: ("\e92e");
$icon-minus-circle-outline: ("\e90e");
$icon-plus-circle-outline: ("\e90f");
$icon-check-circle-outline: ("\e910");
$icon-cross-circle-outline: ("\e955");
$icon-minus-circle-filled: ("\e911");
$icon-plus-circle-filled: ("\e912");
$icon-cross-circle-filled: ("\e913");
$icon-check-circle-filled: ("\e914");
$icon-error-circle-filled: ("\e915");
$icon-error-circle-outline: ("\ea1e");
$icon-info-circle-filled: ("\e916");
$icon-info-circle-outline: ("\e9bf");
$icon-info: ("\e91f");
$icon-minus: ("\e918");
$icon-plus: ("\e919");
$icon-cross: ("\e91b");
$icon-check: ("\e91d");
$icon-alert: ("\e917");
$icon-alert-filled: ("\ea5f");
$icon-airplane-left-circle: ("\e920");
$icon-airplane-right-circle: ("\e921");
$icon-airplane-left: ("\e922");
$icon-airplane-left-filled: ("\ea40");
$icon-airplane-right: ("\e923");
$icon-airplane-right-filled: ("\ea42");
$icon-airplane-up: ("\e926");
$icon-airplane-cancel: ("\e929");
$icon-flight-takeoff: ("\e92a");
$icon-flight-landing: ("\e92f");
$icon-flight-takeoff-return: ("\ea09");
$icon-flight-landing-return: ("\ea0a");
$icon-flight-ontime: ("\ea13");
$icon-airplane-change: ("\e931");
$icon-flight-status-mishap: ("\ea14");
$icon-flight-status-closed: ("\ea15");
$icon-flight-status-opened: ("\ea16");
$icon-flight-status-cancelled: ("\ea17");
$icon-flight-status-other: ("\ea18");
$icon-hotel: ("\e91e");
$icon-bus: ("\e93d");
$icon-train: ("\e93f");
$icon-car: ("\e958");
$icon-directions-boat: ("\e956");
$icon-airport-shuttle: ("\e95e");
$icon-stop: ("\e934");
$icon-bank-transfer: ("\e92b");
$icon-account-credit: ("\e9eb");
$icon-pay: ("\e944");
$icon-card-cvv: ("\e9f3");
$icon-currency: ("\e9d6");
$icon-currency-circle: ("\e9d5");
$icon-dollar-no: ("\e932");
$icon-refunds: ("\e933");
$icon-block: ("\ea47");
$icon-clock: ("\e930");
$icon-social-whatsapp: ("\e93c");
$icon-speachbubble: ("\e936");
$icon-promo-code: ("\e9b4");
$icon-boarding-pass: ("\e938");
$icon-document-airplane: ("\e93a");
$icon-document: ("\e93e");
$icon-document-info: ("\e939");
$icon-document-airplane-text-v: ("\e93b");
$icon-mobile-alert: ("\e941");
$icon-voucher: ("\e942");
$icon-medicine-suitcase: ("\e943");
$icon-lock: ("\e945");
$icon-logout1: ("\e948");
$icon-external: ("\e949");
$icon-download: ("\e902");
$icon-boarding-pass-tickets: ("\ea0b");
$icon-computer-booking: ("\e94a");
$icon-computer-plane: ("\e9b5");
$icon-computer-check: ("\e94d");
$icon-printer: ("\e94f");
$icon-tag: ("\ea29");
$icon-eye-off: ("\e969");
$icon-eye: ("\e951");
$icon-settings: ("\e952");
$icon-edit-line: ("\e9b6");
$icon-edit: ("\e957");
$icon-day-price: ("\e95f");
$icon-calendar: ("\e964");
$icon-calendar-month: ("\e95c");
$icon-calendar-week: ("\e95d");
$icon-email: ("\e960");
$icon-billing-address: ("\ea3a");
$icon-gate: ("\e9b1");
$icon-phone-call-center: ("\e961");
$icon-phone: ("\e962");
$icon-search: ("\e963");
$icon-seat-airplane: ("\e966");
$icon-seat-airplane-window: ("\e967");
$icon-sold-out: ("\ea2b");
$icon-pin: ("\e972");
$icon-user: ("\e975");
$icon-user-circle: ("\e974");
$icon-relationship: ("\ea44");
$icon-passenger: ("\e979");
$icon-membership-standard: ("\ea60");
$icon-users-three: ("\e977");
$icon-passengers: ("\e9c2");
$icon-membership-group: ("\ea61");
$icon-minor-unattended: ("\e97a");
$icon-user-infant: ("\e97b");
$icon-passenger-first: ("\e97c");
$icon-fare-upgrade: ("\ea2c");
$icon-exit: ("\e97d");
$icon-toilet: ("\e97e");
$icon-wheelchair: ("\e97f");
$icon-blind: ("\e980");
$icon-signout-user: ("\ea56");
$icon-flexibility: ("\ea0c");
$icon-insurance-plane: ("\e982");
$icon-hearing-impaired: ("\e9c0");
$icon-insurance-check: ("\e983");
$icon-pet-footprint: ("\e9c1");
$icon-canoe: ("\ea1f");
$icon-diving: ("\ea20");
$icon-hangglider: ("\ea21");
$icon-rubber-dinghy: ("\ea22");
$icon-kayak: ("\ea23");
$icon-paraglider: ("\ea24");
$icon-sporting-weapon: ("\ea25");
$icon-skis: ("\e9e9");
$icon-surf-special-baggage: ("\ea1a");
$icon-golf: ("\e997");
$icon-bike: ("\e94e");
$icon-music-special-baggage: ("\ea1b");
$icon-fish: ("\e9ea");
$icon-game: ("\e953");
$icon-meal: ("\e984");
$icon-breakfast: ("\e9b7");
$icon-restaurant: ("\e985");
$icon-hanger: ("\e986");
$icon-language: ("\e988");
$icon-home: ("\e98c");
$icon-baggage-extra: ("\e98f");
$icon-baggage-outline: ("\e950");
$icon-baggage: ("\e990");
$icon-baggage-notallowed: ("\e954");
$icon-baggage-conveyor: ("\e991");
$icon-baggage-cabin: ("\e995");
$icon-business-lounge: ("\e947");
$icon-auto-checkin: ("\ea26");
$icon-social-google-circle: ("\e92c");
$icon-social-facebook-circle: ("\e9a3");
$icon-social-twitter-circle: ("\e9a4");
$icon-social-instagram-circle: ("\e9a5");
$icon-social-youtube-circle: ("\e924");
$icon-social-linkedin-circle: ("\e903");
$icon-social-feed-circle: ("\e9a2");
$icon-social-VK-circle: ("\e91c");
$icon-social-line-circle: ("\e9a6");
$icon-social-OK-circle: ("\e925");
$icon-social-wechat-circle: ("\e9a7");
$icon-social-weibo-circle: ("\e9a8");
$icon-social-flickr-circle: ("\e935");
$icon-social-xing: ("\ea1d");
$icon-social-apple-circle: ("\ea2d");
$icon-social-apple: ("\ea2e");
$icon-social-facebook: ("\e9a9");
$icon-social-OK: ("\e927");
$icon-social-VK: ("\e928");
$icon-social-twitter: ("\e9aa");
$icon-social-instagram: ("\e9ab");
$icon-social-youtube: ("\e9ac");
$icon-social-google: ("\e9ad");
$icon-social-line: ("\e94b");
$icon-social-wechat: ("\e94c");
$icon-social-weibo: ("\e987");
$icon-social-flickr: ("\e937");
$icon-social-feed: ("\e9ae");
$icon-bizum: ("\ea43");
$icon-emoji-5-love: ("\e99d");
$icon-emoji-4-happy: ("\e99e");
$icon-emoji-3-confused: ("\e99f");
$icon-emoji-2-annoyed: ("\e9a0");
$icon-emoji-1-angry: ("\e9a1");
$icon-star-full: ("\e98a");
$icon-star-half: ("\e98b");
$icon-star-empty: ("\e98d");
$icon-share: ("\ea57");
$icon-hg-auto-checkin-path1: ("\ea39");
$icon-hg-auto-checkin-path2: ("\ea3b");
$icon-hg-auto-checkin-path3: ("\ea3c");
$icon-hg-auto-checkin-path4: ("\ea3d");
$icon-hg-auto-checkin-path5: ("\ea3e");
$icon-hg-auto-checkin-path6: ("\ea3f");
$icon-hg-flexibility-path1: ("\ea0d");
$icon-hg-flexibility-path2: ("\ea0e");
$icon-hg-flexibility-path3: ("\ea0f");
$icon-hg-flexibility-path4: ("\ea10");
$icon-hg-game-path1: ("\e959");
$icon-hg-game-path2: ("\e95a");
$icon-hg-game-path3: ("\e95b");
$icon-hg-game-path4: ("\e96d");
$icon-hg-game-path5: ("\e96e");
$icon-hg-game-path6: ("\e96f");
$icon-hg-game-path7: ("\e970");
$icon-hg-game-path8: ("\e971");
$icon-hg-game-path9: ("\e973");
$icon-hg-entertainment-path1: ("\ea02");
$icon-hg-entertainment-path2: ("\ea03");
$icon-hg-entertainment-path3: ("\ea04");
$icon-hg-entertainment-path4: ("\ea05");
$icon-hg-entertainment-path5: ("\ea06");
$icon-hg-entertainment-path6: ("\ea07");
$icon-hg-entertainment-path7: ("\ea08");
$icon-hg-car-path1: ("\e978");
$icon-hg-car-path2: ("\e981");
$icon-hg-car-path3: ("\e989");
$icon-hg-car-path4: ("\e98e");
$icon-hg-car-path5: ("\e9fd");
$icon-hg-bus-path1: ("\e9fe");
$icon-hg-bus-path2: ("\e9ff");
$icon-hg-bus-path3: ("\ea00");
$icon-hg-bus-path4: ("\ea01");
$icon-hg-transfers-path1: ("\e940");
$icon-hg-transfers-path2: ("\e946");
$icon-hg-clock-path1: ("\e9f4");
$icon-hg-clock-path2: ("\e9f5");
$icon-hg-smart-phone-path1: ("\e9f6");
$icon-hg-smart-phone-path2: ("\e9f7");
$icon-hg-boarding-pass-path1: ("\e9f8");
$icon-hg-boarding-pass-path2: ("\e9f9");
$icon-hg-pet-path1: ("\e9fa");
$icon-hg-pet-path2: ("\e9fb");
$icon-hg-special-baggage-path1: ("\e9e7");
$icon-hg-special-baggage-path2: ("\e9e8");
$icon-hg-special-assitance-path1: ("\e9d9");
$icon-hg-special-assitance-path2: ("\e9da");
$icon-hg-unaccompanied-minor-path1: ("\e9db");
$icon-hg-unaccompanied-minor-path2: ("\e9dc");
$icon-hg-meals-path1: ("\e9dd");
$icon-hg-meals-path2: ("\e9de");
$icon-hg-medical-insurance-path1: ("\e9df");
$icon-hg-medical-insurance-path2: ("\e9e0");
$icon-hg-priority-boarding-path1: ("\e9e1");
$icon-hg-priority-boarding-path2: ("\e9e2");
$icon-hg-business-lounge-path1: ("\e9e3");
$icon-hg-business-lounge-path2: ("\e9e4");
$icon-hg-flight-insurance-path1: ("\e9e5");
$icon-hg-flight-insurance-path2: ("\e9e6");
$icon-hg-online-checkin-path1: ("\e9d3");
$icon-hg-online-checkin-path2: ("\e9d4");
$icon-hg-airport-path1: ("\e9cd");
$icon-hg-airport-path2: ("\e9ce");
$icon-hg-printer-path1: ("\e9cf");
$icon-hg-printer-path2: ("\e9d0");
$icon-hg-wifi-path1: ("\e9d1");
$icon-hg-wifi-path2: ("\e9d2");
$icon-hg-baggage-path1: ("\e9c5");
$icon-hg-baggage-path2: ("\e9c6");
$icon-hg-insurance-path1: ("\e9c7");
$icon-hg-insurance-path2: ("\e9c8");
$icon-hg-seat-path1: ("\e9c9");
$icon-hg-seat-path2: ("\e9ca");
$icon-hg-calendar-path1: ("\e9cb");
$icon-hg-calendar-path2: ("\e9cc");
$icon-hg-logout-path1: ("\ea58");
$icon-hg-logout-path2: ("\ea59");
$icon-hg-logout-path3: ("\ea5a");
$icon-hg-logout-path4: ("\ea5b");
$icon-hg-logout-path5: ("\ea5c");
$icon-hg-logout-path6: ("\ea5d");
$icon-drag-indicator: ("\ea55");
$icon-agent: ("\ea48");
$icon-campaign: ("\ea49");
$icon-metrics: ("\ea4a");
$icon-saveactivate: ("\ea4c");
$icon-save: ("\ea4d");
$icon-remove: ("\ea4e");
$icon-status-close-flight: ("\ea4f");
$icon-status-cancelled-flight: ("\ea50");
$icon-status-opened-flight: ("\ea51");
$icon-status-ongoing-flight: ("\ea52");
$icon-status-mishap-flight: ("\ea53");
$icon-status-landed-flight: ("\ea54");
$icon-load-time: ("\ea45");
$icon-version-history: ("\ea46");
$icon-notification: ("\e9fc");
$icon-repeat-top: ("\e9f1");
$icon-repeat: ("\e9f2");
$icon-window-expand: ("\e9ec");
$icon-window-compress: ("\e9ed");
$icon-layout: ("\e9ee");
$icon-template: ("\e9d7");
$icon-styles: ("\e9d8");
$icon-ns-disruption: ("\e9c3");
$icon-ns-refunds: ("\e9c4");
$icon-ns-messages: ("\e9be");
$icon-analytics: ("\e9bc");
$icon-communications: ("\e9bd");
$icon-speachbubble-cancel: ("\e9b8");
$icon-speachbubble-time-change: ("\e9b9");
$icon-filters: ("\e9ba");
$icon-delete: ("\e9bb");
$icon-refresh: ("\e992");
$icon-list: ("\e993");
$icon-list-numbers: ("\e994");
$icon-redo: ("\e996");
$icon-undo: ("\e998");
$icon-link: ("\e999");
$icon-unlink: ("\e9f0");
$icon-align-left: ("\e99a");
$icon-align-full: ("\e99b");
$icon-align-center: ("\e99c");
$icon-align-right: ("\e9af");
$icon-align-justified: ("\e9b0");
$icon-rule-components: ("\ea5e");

