.btn {
  @include flexbox($justify: space-between);
  gap: calculateRem(5px);
  padding: calculateRem(10px) calculateRem(15px);
  border: none;
  border-radius: calculateRem(5px);
  color: white;
  cursor: pointer;
  margin: calculateRem(5px);
}

.btn-primary {
  background-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn-action {
  background-color: #28a745;
}

.btn-back {
  background-color: #ffc107;
}

.btn-next {
  background-color: #17a2b8;
}

.btn-link {
  background: none;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}